{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between mx-10 my-5">
        <div class="col-6   ">
            <img src="../../media/photos/index1.png" alt="img" style="width: 80%">
        </div>
        <div class="col-5 my-auto">
            <p class="fs-2 mb-0">Your journey to</p>
            <p class="fs-2 mt-0">health starts here</p>
            <p class="fs-5">Tell us about yourself. We'll get to know you and provide vitamins and supplements tailored to your unique needs.</p>
            <button class="btn btn-dark rounded-5 mb-5">Take the quiz &rarr;</button>
        </div>
    </div>
    <div class="mx-10"><hr/></div>
    <div class="mx-10 text-center my-5">
        <p class="fs-2 mb-0">Daily essentials with good intentions -</p>
        <p class="fs-2 mt-0">for living life or creating it</p>
        <img src="../../media/photos/index2.png" alt="img" style="width: 70%" class="mt-5">
        <div class="d-flex justify-content-between mx-10">
            <div>
                <p class="mb-0">&nbsp;Traceable</p>
                <p class="mt-0">&nbsp;Ingredients</p>
            </div>
            <p>&nbsp;&nbsp; Non-GMO</p>
            <p>Vegan</p>
            <div>
                <p class="mb-0">No Artificial</p>
                <p class="mt-0">Colorants</p>
            </div>
        </div>
    </div>
{% endblock %}